<h1>Userlistings#show</h1>
<p>Find me in app/views/userlistings/show.html.erb</p>


<p>
<%= @userlistings.title%>
<%= @userlistings.details%>
<%= @userlistings.pay%>
<%= @userlistings.location%>
<%= @userlistings.email%>
<%= @userlistings.category%>
<p> Created by:  <%=link_to @userlistings.user.name, user_path(@userlistings.user) %> </p>
</p>
<!-- this is the login based on the fact that the user is logged in -->
<% if current_user_owns?( @userlistings )  %>
<!-- if some one is logged in and the userlisting has an id and the current user id matches the user listing user id -->
  <a href="/logout"> Logout </a>
  <br>

  <%= link_to 'Edit your listing', edit_userlisting_path %>
  <br>
  <%= link_to "Delete this listing", userlisting_path, method: :delete, data:{confirm:'Are you sure?'} %>

  <br>


  <% else %>
  <%= link_to "Back to listing page", userlistings_path %> <br>
  <a href="/login">Login</a>
<% end %>
