<h1><%= @user.name %>-<%= @user.sex %></h1>


<p>
<p>Location:<%= @user.location %></p>
<p>Phone number: <%= @user.phone_number %> </p>
<p>Contact me at: <%= @user.email %> </p>
 <p> Links:</p>
<a href=<%="http://#{@user.fblink}"%>><%= @user.fblink %></a><br>
<a href=<%="http://#{ @user.sclink}"%>><%= @user.sclink %></a><br>
<a href=<%="http://#{ @user.twlink}"%>><%= @user.twlink %></a><br>
<a href=<%="http://#{ @user.website}"%>><%= @user.website %></a><br>



</p>

<!-- if some one is logged in  -->
<% if current_user %>
  <a href="/logout"> Logout </a>
  <br>
    <%= link_to 'Edit your profile', edit_user_path %>
  <br>
    <%= link_to "Delete this profile", user_path, method: :delete, data:{confirm:'Are you sure?'} %>
  <br>
<%= link_to "Back to listing page", userlistings_path %>

<% else %>
    <%= link_to "Back to listing page", userlistings_path %> <br>
    <a href="/login">Login</a>
<% end %>

